<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>JSON Schema Generator for OpenShift v3 Origin API Objects</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.10">
      <projectUrl>https://github.com/openshift/origin/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/fabric8io/origin-schema-generator.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd ${WORKSPACE}
godep restore

mkdir -p $GOPATH/src/github.com/csrwng
ln -s $JENKINS_HOME/jobs/origin-schema-generator/workspace $GOPATH/src/github.com/csrwng/origin-schema-generator

set +e
ERROR=$(go get -u github.com/GoogleCloudPlatform/kubernetes/ 2&gt;&amp;1 &gt;/dev/null)
set -e

if [[ $ERROR == *&quot;no buildable Go source files&quot;* ]]
then
  echo &quot;Ignoring \&apos;buildable Go source files\&apos; warnings!&quot;
fi

godep update github.com/GoogleCloudPlatform/kubernetes/...
go get -u github.com/openshift/origin/
godep update github.com/openshift/origin/...
godep go build ./cmd/generate/generate.go
./generate &gt; kube-schema-temp.json
cat kube-schema-temp.json | python -mjson.tool &gt; kube-schema.json</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>git clone https://github.com/rawlingsj/fabric8.git
mv kube-schema.json fabric8/components/kubernetes-api/src/main/kubernetes/api/doc/kube-schema.json
cd fabric8
mvn clean install</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <ruby-proxy-object>
      <ruby-object ruby-class="Jenkins::Tasks::BuildWrapperProxy" pluginid="commit-message-trigger-plugin">
        <pluginid pluginid="commit-message-trigger-plugin" ruby-class="String">commit-message-trigger-plugin</pluginid>
        <object ruby-class="CommitMessageTriggerWrapper" pluginid="commit-message-trigger-plugin">
          <build__text pluginid="commit-message-trigger-plugin" ruby-class="String">KUBERNETES_REBASE</build__text>
        </object>
      </ruby-object>
    </ruby-proxy-object>
  </buildWrappers>
</project>
